@namespace Rp.Phone.Apps.FaceTime.Components
@using System
@using Rp.Phone.UI.Components
@using Rp.Phone.Apps.Messages.Components
@inherits Rp.Phone.PhoneApp

<root>
	@* <Contacts @ref="_contactsTab" App="@this"></Contacts> *@
	@* <MessageBar @ref="_navigationBar"> *@
	@* 	<Content> *@
	@* 		<div class="header"> *@
	@* 			<div class="left"> *@
	@* 				<Button Icon="fluent:add-16-filled"></Button> *@
	@* 			</div> *@
	@* 			<div class="right"> *@
	@* 				<Button Text="Edit"></Button> *@
	@* 			</div> *@
	@* 		</div> *@
	@* 		<div class="footer"> *@
	@* 			<span>@_pageName</span> *@
	@* 		</div> *@
	@* 	</Content> *@
	@* </MessageBar> *@
	<NavHost></NavHost>
	@* <Tabs></Tabs> *@
	@* <Call @ref="_callTab" App="@this"></Call> *@
</root>
