Call {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: hsla(43, 74%, 49%, 1);
    //background-color: black;
    //opacity: 0;
    display: none;
    border-radius: 32px;
    transition: all .2s ease-out;
    overflow: hidden;
    margin-top: 920px;
    z-index: 10;

    &.show {
        margin-top: 0;
        display: flex;
    }

    > .content {
        width: 100%;
        flex-grow: 1;
        pointer-events: all;
        position: relative;

        > .contact-info {
            width: 100%;
            position: absolute;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 90px;
        }

        > img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            backdrop-filter: blur(32px);
        }

        > .gradient {
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top, hsla(43, 74%, 49%, 1) 0%, hsla(43, 74%, 49%, .9) 20%, hsla(43, 74%, 49%, 0) 40%, hsla(43, 74%, 49%, 0) 70%, hsla(43, 74%, 49%, .9) 90%, hsla(43, 74%, 49%, 1) 100%);
            position: absolute;
        }

        > .contact-info {
            > .time {
                color: hsla(43, 74%, 89%, 1);
                font-size: 18px;
                font-weight: 500;
                font-family: "SF Pro Display";
            }

            > .name {
                color: hsla(43, 74%, 89%, 1);
                font-size: 58px;
                font-weight: 600;
                font-family: "SF Pro Display";
            }
        }

        > .menu {
            width: 100%;
            position: absolute;
            bottom: 0;
            gap: 20px;
            padding: 32px 0;
            margin-bottom: 32px;
            justify-content: space-evenly;
            flex-direction: column;

            > .first-column {
                justify-content: space-evenly;
            }

            > .second-column {
                justify-content: space-evenly;
            }
        }
    }
}