@namespace Rp.Phone.Apps.FaceTime.Components
@using System
@using Sandbox.UI
@using Rp.Phone.UI.Components
@using Rp.Phone.Apps.Messages.Components
@inherits Panel

<root class="@Root">
	<div class="content">
		<img src="textures/ui/phone/woman.jpg" alt="">
		<div class="gradient"></div>
		<div class="contact-info">
			<span class="time">02:47</span>
			<span class="name">Francesca</span>
		</div>
		<div class="menu">
			<div class="first-column">
				<CircleButton Icon="fluent:speaker-28-filled" Text="Speaker"></CircleButton>
				<CircleButton Icon="fluent:video-28-filled" Text="FaceTime"></CircleButton>
				<CircleButton Icon="fluent:mic-off-28-filled" Text="Mute"></CircleButton>
			</div>
			<div class="second-column">
				<CircleButton Icon="fluent:people-add-28-filled" Text="Add"></CircleButton>
				<CircleButton Icon="fluent:call-end-28-filled" Text="End"></CircleButton>
				<CircleButton Icon="fluent:grid-dots-28-filled" Text="Keypad"></CircleButton>
			</div>
		</div>
	</div>
</root>
