IncomingCallTab {
    width: 100%;
    height: 100%;
    background-color: hsla(220, 10%, 12%, 1);
    border-radius: 32px;
    transition: all .2s ease-out;
    top: 0;
    display: flex;
    margin-top: 0;
    position: absolute;

    &.hidden {
        margin-top: 920px;
        //display: none;
    }

    > .content {
        width: 100%;
        flex-grow: 1;
        pointer-events: all;
        position: relative;
        flex-direction: column;

        > .caller-info {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 116px;
            position: absolute;

            > .name {
                color: hsla(43, 74%, 89%, 1);
                font-size: 42px;
                font-weight: 600;
                font-family: "SF Pro Display";
                text-align: center;
            }

            > .caller {
                color: hsla(43, 74%, 89%, 1);
                font-size: 32px;
                font-weight: 600;
                font-family: "SF Pro Display";
                text-align: center;
            }
        }
        
        > .menu {
            width: 100%;
            gap: 20px;
            padding: 32px 0;
            margin-bottom: 32px;
            justify-content: space-evenly;
            flex-direction: column;
            bottom: 0;
            position: absolute;

            > .first-column {
                justify-content: space-evenly;
                
                > CircleButton:first-child {
                    > .content {
                        background-color: hsla(130, 50%, 49%, 1);
                    }

                    &:hover {
                        > .content {
                            background-color: hsla(130, 50%, 36%, 1);
                        }
                    }
                }

                > CircleButton:last-child {
                    > .content {
                        background-color: hsla(0, 60%, 49%, 1);
                    }
                    
                    &:hover {
                        > .content {
                            background-color: hsla(0, 60%, 36%, 1);
                        }
                    }
                }
            }
        }
    }
}