TabButton {
    width: 64px;
    height: 64px;
    //background-color: white;
    background-color: hsla(220, 8%, 100%, 1);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .2s ease-out;
    pointer-events: all;

    &:hover {
        background-color: hsla(220, 8%, 94%, 1);
    }

    &:active {
        transform: scale(.96);
    }
    
    &.toggled {
        background-color: hsla(220, 8%, 94%, 1);
    }

    > span {
        color: dodgerblue;
        font-size: 13px;
        font-weight: 600;
        font-family: "SF Pro Display";
    }
}