@namespace Rp.Phone.Apps
@using Sandbox.UI
@using Rp.Phone.UI.Components
@inherits Rp.Phone.PhoneApp

<root>
	<div class="apps">
		@foreach ( var app in Apps )
		{
			<AppIcon @key="@app" App="@app"></AppIcon>
		}
	</div>
	<AppDock @ref="_dock"></AppDock>
</root>
