@namespace Rp.Phone.Apps.Messages.Components
@using Rp.Phone.UI.Components
@inherits Sandbox.UI.Panel

<root>
	<div class="nav-bar">
		@* 		<div class="header"> *@
		@* 			<div class="left"> *@
		@* 				<Button Text="Filters" Icon="fluent:chevron-left-24-filled" @onclick="@Back"></Button> *@
		@* 			</div> *@
		@* 			<div class="center"> *@
		@* 				<span>Messages</span> *@
		@* 			</div> *@
		@* 			<div class="right"> *@
		@* 				 *@
		@* 			</div> *@
		@* 		</div> *@
		@Content
	</div>
</root>
