Alert {
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, .65);
    transition: all .1s ease-out;
    top: 0;
    left: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    opacity: 1;
    display: flex;
    z-index: 1000;

    &:intro {
        opacity: 0;
        display: none;
    }

    &:outro {
        opacity: 0;
        display: none;
    }

    > .alert {
        width: 70%;
        background-color: white;
        border-radius: 12px;
        flex-direction: column;
        overflow: hidden;
        transition: all .1s ease-out;

        &:intro {
            opacity: 0;
            //transform: scale(.4);
        }

        &:outro {
            opacity: 0;
            //transform: scale(.4);
        }

        > .header {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: solid 1px hsla(0, 0%, 0%, .125);
            padding: 20px;

            > .title {
                color: black;
                font-size: 18px;
                font-family: "SF Pro Display";
                font-weight: 800;
                text-align: center;
            }

            > .message {
                color: black;
                font-size: 14px;
                font-family: "SF Pro Display";
                font-weight: 500;
                text-align: center;
            }
        }

        > .footer {
            width: 100%;
            background-color: hsla(0, 0%, 0%, .125);
            gap: 2px;
        }
    }
}