@namespace Rp.Phone.UI.Components
@using Rp.Phone.UI.Components
@inherits Sandbox.UI.Panel

<root>
	<div class="alert">
		<div class="header">
			<span class="title">@Title</span>
			<span class="message">@Message</span>
		</div>
		<div @ref="_footer" class="footer">
			@* <Button Text="Action"></Button> *@
			@* <Button Text="Action"></Button> *@
		</div>
	</div>
</root>
