AppBadge {
    width: 22px;
    height: 22px;
    background-color: red;
    border-radius: 11px;
    top: -5;
    right: -5;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition: all .1s ease-out;
    
    &.hidden {
        opacity: 0;
        display: none;
    }
    
    > span {
        color: white;
        font-size: 15px;
        font-family: "SF Pro Display";
        font-weight: 500;
    }
}