Button {
    height: 40px;
    border-radius: 10px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    transition: all .2s ease-out;

    &:hover {
        &.light {
            background-color: hsla(220, 8%, 94%, 1);
        }

        &.transparent {
            background-color: hsla(220, 8%, 94%, .2);
            backdrop-filter: blur(8px);
        }
    }

    &:active {
        transform: scale(.96);
    }

    &.light {
        background-color: white;
    }

    &.dark {
        background-color: black;
    }

    &.transparent {
        background-color: transparent;
    }
}