@namespace Rp.Phone.UI.Components
@using Rp.Phone.UI.Components
@inherits Sandbox.UI.Panel

<root class="@Root">
	@if ( !string.IsNullOrEmpty( Key ) && string.IsNullOrEmpty( Icon ) )
	{
		<span>@Key</span>
	}
	@if ( !string.IsNullOrEmpty( Icon ) )
	{
		<iconify Icon="@Icon" Color="black" Size="@IconSize"></iconify>
	}
</root>
