MessageBar {
    width: 100%;
    flex-direction: column;
    border-bottom: solid 2px hsl(200, 8%, 96%);
    padding-top: 56px;

    &.transparent {
        border-bottom: transparent;
    }

    > .nav-bar {
        flex-direction: column;
    }
}