@namespace Rp.Phone.UI.Components
@using Sandbox.UI
@inherits Panel

<root>
	<div class="nav-bar">
		<div class="header">
			<div class="left">
				<Button Text="Back" Icon="fluent:chevron-left-24-filled" @onclick="@Back"></Button>
			</div>
			<div class="center">
				<span>Title</span>
			</div>
			<div class="right">
				
			</div>
		</div>
		<div class="search">
			<Search></Search>
		</div>
	</div>
</root>
